
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Comments
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">
            <% post.comments.each do |comment| %>
              <tr class="row"><td><%= comment.user.name %></td><td><%= format_creation_time(comment) %></td></tr>
              <tr class="row"><td>&nbsp;</td><td><%= comment.description %></td></tr>
            <% end %>
          </div>
          <div class="panel-footer">
            panel-footer
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
